:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #000000;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body {
	height: 100vh;
	margin: 0;
}

#root {
	height: 100vh;
}

.AppBar {
	display: flex;
	flex-direction: column;
}
.AppBar > * {
	flex: 1 1 auto;
}

.Toolbar {
	display: flex;
	align-items: center;
}
.Toolbar > * {
	flex: 1 1 auto;
	margin: 0;
}

.AppBar {
	height: 10vh;
}
.Toolbar {
	margin: 0;
	border-bottom: solid;
}
.dialogForm {
	width: 80vw;
	height: 80vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}
.dialogForm > form {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.dialogForm > form > * {
	flex: 1 1 auto;
}
.dialogForm > form > .imgWrapper {
	contain: size;
	display: flex;
	justify-content: center; /* Center the content horizontally */
	align-items: center; /* Center the content vertically */
	height: 100%; /* Take up full available space */
}
.dialogForm > form > .imgWrapper > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.cardsContainer {
	height: 90vh;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.coverCard {
	height: calc(40vh - 20px);
	width: calc((40vh - 20px) / 3 * 2);
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.coverCard img {
	height: 100%;
	object-fit: cover;
}

.bookSection {
	contain: size;
	height: 90vh;
	width: 100%;
	padding: 10px;
	writing-mode: vertical-rl;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}
