:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #000000;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body {
	height: 100vh; /* Ensure html and body fill the viewport */
	margin: 0; /* Remove default margin */
	overflow: hidden; /* Prevent scrolling */
}

#root {
	height: 100vh; /* Ensure #root fills the entire viewport */
}

.Toolbar {
	height: 10vh;
}

.einkwrapper {
	height: 85vh; /* Take up the remaining space */
	overflow: hidden; /* Prevent overflow */
}

.einkwrapper svg,
.einkwrapper img {
	width: auto; /* Allow the width to adjust */
	height: auto; /* Allow the height to adjust */
	max-width: 100%; /* Constrain within the parent width */
	max-height: 100%; /* Constrain within the parent height */
	margin: auto; /* Center within the parent container */
}
.navigation-buttons {
	height: 5vh; /* Prevent navigation buttons from shrinking */
}
